<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <textarea id="inputArea" placeholder="Type something..."></textarea>
    
    <br><br>

    <button id="demo" onclick="getLocation()">--Send your Geolocation--</button>
    
    <br><br>

    <button id="demo3" onclick="postClipboardData()">--Send your clipboard--</button>


    <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>