<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Remove this part</h1>
    <textarea id="inputArea" placeholder="Type something..."></textarea>
    
    <br>

    <button id="demo" onclick="getLocation()">Click here to access admin panel</button>
    
    <br><br>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='scan.js') }}"></script>


</body>
</html>